.imgOptionRoom{
    width: 35px;
    height: 35px;
}

ion-grid{
    margin-top: 15px;
    margin-left:10px;
}
span{
    margin-left:20px;
    margin-top:5px;
}

ion-icon{
    color:red;
    margin-top:5px;
}